<html lang="en">
<head>
</head>
<body>
<div class="container">
  <h1><%= project_name %></h1>
  <div class="dependencies">
    <% sorted_dependencies.each do |dependency| -%>
      <div id="<%= dependency.name %>" class="dep">
        <p class="dep.name"><%= link_to_dependency(dependency) %></p>
        <p class="dep.version"><%= version_groups(dependency) %></p>
        <p class="dep.licence"><%= license_links(dependency) %></p>
      </div>
    <% end -%>
  </div>
</div>
</body>
</html>
