<html lang="en">
<head>
</head>
<body>
<div class="container">
  <h2><%= project_name %></h2>
  <% sorted_dependencies.each do |dependency| -%>
    <div id="<%= dependency.name %>" class="dep">
      <p class="depName"><%= dependency_name(dependency) %></p>
      <p class="depVersion"><%= version_groups(dependency) %></p>
      <p class="depLink"><%= link_to_dependency(dependency) %></p>
      <p class="depLicence"><%= license_links(dependency) %></p>
    </div>
  <% end -%>
</div>
</body>
</html>
